@using FirstCoreApp.Models;

@{
    ViewBag.Title = "Home Page";
    List<Users> userlist = ViewBag.listuser;
}

<header class="w3-display-container w3-content" style="max-width:1500px;">
    <img class="w3-image" src="~/lib/Images/bg.jpg" style="min-width:1000px" width="1500" height="800">
    <div class="w3-display-left w3-padding w3-col l12 m8">
        <div class="w3-container w3-blue">
            <h4><i class="fa fa-bed w3-margin-right"></i>Registered User List</h4>
            <input type="button" value="+ Add User" onclick="window.location.href='@Url.Action("AddUserForm","Home")'" class="w3-btn" />
        </div>
        <div class="w3-container w3-white w3-padding-16">

            <table class="w3-table w3-striped">
                <tr><th>No</th><th>Name</th><th>Email</th><th>Gender</th><th>Date Reg</th><th>Selected Days</th><th>Add Request</th></tr>

                @{ foreach (Users user in userlist)
                    {
                        <tr>
                            <td>@user.ID</td>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.Gender</td>
                            <td>@user.RegDate.ToString("yyyy-MM-dd")</td>
                            <td>
                                @{foreach (CheckboxModel cbm in user.selectedDays)
                                    {
                                        if (cbm.IsChecked)
                                        { <text>@cbm.Text  </text>}
                                }
                                }

                            </td>
                            <td>@user.AddReq</td>

                        </tr>

                        
                    }



                }

            </table>


        </div>
    </div>
</header>




