@using EONtestEF.Models;

@{
    ViewBag.Title = "Home Page";
    List<Users> userlist = ViewBag.listuser;
}

<h1>List of Registered Users</h1>
<input type="button" value="+ Add User" onclick="window.location.href='@Url.Action("AddUserForm","Home")'" />
<table class="w3-table w3-striped">
    <tr><th>No</th><th>Name</th><th>Email</th><th>Gender</th><th>Date Reg</th><th>Selected Days</th><th>Add Request</th></tr>

    @{ foreach (Users user in userlist)
        {
            <tr>
                <td>@user.ID</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Gender</td>
                <td>@user.RegDate.ToString("yyyy-MM-dd")</td>
                <td>
                    @{ if (user.Days1)
                        { <text>Day 1  </text>}
                        if (user.Days2)
                        { <text>Day 2  </text>}
                        if (user.Days3)
                        { <text>Day 3</text>}
                      }

</td>
                <td>@user.AddReq</td>

            </tr>

            <tr>
            </tr>
        }



    }

</table>

